swagger: "2.0"
info:
  description: "Descrição."
  version: "1.0.0"
  title: "Matrícula Web 2"
  termsOfService: "http://sid.redes.unb.br/termos/"
  contact:
    email: "sid@redes.unb.br"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "sid.redes.unb.br"
basePath: "/mw2"
schemes:
  - "https"
  - "http"

###########################################################
###########################################################

tags:
  - name: "Aluno"
    description: "Descrição das rotas de aluno"
  - name: "Disciplina"
    description: "Descrição das rotas de disciplina"
  - name: "Curso"
    description: "Descrição das rotas de curso"
  - name: "Turma"
    description: "Descrição das rotas de turma"
  - name: "Matrícula"
    description: "Descrição das rotas de matrícula"
  - name: "Histórico"
    description: "Descrição das rotas de histórico"

###########################################################
###########################################################

paths:
  /aluno:
    get:
      tags:
        - "Aluno"
      summary: Busca de alunos
      operationId: searchAluno
      parameters:
        - name: nome
          in: query
          description: Busca de alunos por nome
          required: false
          type: string
        - name: curriculo
          in: query
          description: Busca de alunos pelo código do currículo
          required: false
          type: string
        - name: curso
          in: query
          description: Busca de aluno pelo código do curso
          required: false
          type: string
        - name: unidade
          in: query
          description: Busca de alunos pela unidade do curso
          required: false
          type: string
      responses:
        "200":
          description: "Ok"
          schema:
            $ref: "#/definitions/AlunoList"
  /aluno/{id}:
    get:
      tags:
        - "Aluno"
      summary: Busca de aluno específico
      operationId: detailAluno
      parameters:
        - name: id
          in: path
          description: Buscar aluno especificando o id (matrícula)
          type: string
          required: true
      responses:
        "200":
          description: "Ok"
          schema:
            $ref: "#/definitions/Aluno"
        "404":
          description: not found
  /disciplina:
    get:
      tags:
        - "Disciplina"
      operationId: searchDisciplina
      summary: Busca de disciplinas
      parameters:
        - name: nome
          in: query
          description: Busca de disciplinas pelo nome
          required: false
          type: string
        - name: unidade
          in: query
          description: Busca de disciplinas pela unidade
          required: false
          type: string
      responses:
        "200":
          description: "Ok"
          schema:
            $ref: "#/definitions/DisciplinaList"
  /disciplina/{id}:
    get:
      tags:
        - "Disciplina"
      operationId: detailDisciplina
      summary: Busca de disciplina específica
      parameters:
        - name: id
          in: path
          description: Buscar disciplina específica pelo id (codigo)
          type: string
          required: true
      responses:
        "200":
          description: "Ok"
          schema:
            $ref: "#/definitions/Disciplina"
        "404":
          description: not found
  /curso:
    get:
      tags:
        - "Curso"
      operationId: searchCurso
      summary: Busca de cursos
      parameters:
        - name: nome
          in: query
          description: Busca de cursos pelo nome do curso
          type: string
          required: false
        - name: unidade
          in: query
          description: Busca de cursos pela unidade
          type: string
          required: false
        - name: sede
          in: query
          description: Busca de cursos pela sede
          type: string
          required: false
      responses:
        "200":
          description: "Ok"
          schema:
            $ref: "#/definitions/CursoList"
  /curso/{id}:
    get:
      tags:
        - "Curso"
      operationId: detailCurso
      summary: Busca de curso específico
      parameters:
        - name: id
          in: path
          description: Buscar curso específico pelo id (código)
          type: string
          required: true
      responses:
        "200":
          description: "Ok"
          schema:
            $ref: "#/definitions/Curso"
        "404":
          description: not found
  /curso/{id}/curriculos/:
    get:
      tags:
        - "Curso"
      operationId: searchCurriculoCurso
      summary: Busca de curriculos de curso específico
      parameters:
        - name: id
          in: path
          description: Buscar curriculos de um curso especifico
          type: string
          required: true
        - name: status
          in: query
          description: Buscar currículos ativos ou desativados de um curso específico
          type: string
          required: false
          enum:
            - Ativo
            - Desativado
      responses:
        "200":
          description: "Ok"
          schema:
            $ref: "#/definitions/CurriculoList"
  /curso/{id}/curriculos/{curriculo}:
    get:
      tags:
        - "Curso"
      operationId: detailCurriculoCurso
      summary: Busca de curriculo específico de curso específico
      parameters:
        - name: id
          in: path
          description: Id (código) do curso
          type: string
          required: true
        - name: curriculo
          in: path
          description: Id (código) do currículo
          type: string
          required: true
      responses:
        "200":
          description: "Ok"
          schema:
            $ref: "#/definitions/Curriculo"
        "404":
          description: not found
  /curso/{id}/curriculos/{curriculo}/disciplinas:
    get:
      tags:
        - "Curso"
      operationId: searchDisciplinaCurriculoCurso
      summary: Busca de disciplinas de curriculo específico de curso específico
      parameters:
        - name: id
          in: path
          description: Id (código) du curso
          type: string
          required: true
        - name: curriculo
          in: path
          description: Id (código) dp currículo
          type: string
          required: true
        - name: tipo
          in: query
          description: Buscar disciplinas pelo tipo (restrição de domínio)
          type: string
          required: false
          enum:
            - Obrigatoria
            - Optativa
        - name: nivel
          in: query
          description: Buscar disciplinas por nivel
          type: integer
          required: false
        - name: modalidade
          in: query
          description: Buscar disciplinas por modalidade (restrição de domínio)
          type: string
          required: false
          enum:
            - Presencial
            - Hibrido
            - EAD
      responses:
        "200":
          description: "Ok"
          schema:
            $ref: "#/definitions/DisciplinaCurriculoList"
  /curso/{id}/curriculos/{curriculo}/disciplinas/{disciplina}:
    get:
      tags:
        - "Curso"
      operationId: detailDisciplinaCurriculoCurso
      summary: Busca de disciplina específica de curriculo específico de curso específico
      parameters:
        - name: id
          in: path
          description: Id (código)  do curso
          type: string
          required: true
        - name: curriculo
          in: path
          description: Id (código) do currículo
          type: string
          required: true
        - name: disciplina
          in: path
          description: Id (código) da disciplina
          type: string
          required: true
        - name: tipo
          in: query
          description: Buscar disciplina por tipo
          type: string
          required: false
          enum:
            - Obrigatoria
            - Optativa
        - name: nivel
          in: query
          description: Buscar disciplina por nível
          type: integer
          required: false
        - name: modalidade
          in: query
          description: Buscar disciplina por modalidade
          type: string
          required: false
          enum:
            - Presencial
            - Hibrido
            - EAD
      responses:
        "200":
          description: "Ok"
          schema:
            $ref: "#/definitions/DisciplinaCurriculo"
        "404":
          description: not found
  /turma:
    get:
      tags:
        - "Turma"
      operationId: searchTurma
      summary: Busca turmas
      parameters:
        - name: disciplina
          in: query
          description: Buscar turma por disciplina
          type: string
          required: false
        - name: periodo
          in: query
          description: Buscar turma por período
          type: string
          required: true
        - name: sede
          in: query
          description: Buscar turma por sede
          type: string
          required: false
          enum:
            - Planaltina
            - Asa Norte
            - Ceilandia
            - Gama
        - name: turno
          in: query
          description: Buscar turma por turno
          type: string
          required: false
          enum:
            - Matutino
            - Vespertino
            - Noturno
      responses:
        "200":
          description: "Ok"
          schema:
            $ref: "#/definitions/TurmaList"
  /turma/{id}:
    get:
      tags:
        - "Turma"
      operationId: detailTurma
      summary: Buscar turma específica
      parameters:
        - name: id
          in: path
          description: Identificador da turma
          type: string
          required: true
      responses:
        "200":
          description: "Ok"
          schema:
            $ref: "#/definitions/Turma"
        "404":
          description: not found
  /matricula:
    get:
      tags:
        - "Matrícula"
      operationId: searchMatricula
      summary: Busca turma específica
      parameters:
        - name: aluno
          in: query
          description: Quando especificado a matrícula retorna apenas as informações das turmas (não são retornadas informações do aluno). Não é possível utilizar esse parâmetro junto do parâmetro turma.
          type: string
          required: false
        - name: status
          in: query
          description: Busca de matrícula por status
          type: string
          enum:
            - Matriculado
            - Pedido
            - Indeferido
            - Trancamento
          required: false
        - name: turma
          in: query
          description: Filtro por turma. Não é possível utilizar esse parâmetro junto com Aluno.
          type: string
          required: false
        - name: periodo
          in: query
          description: Buscar turma por período
          type: string
          required: false
      responses:
        "200":
          description: "Ok"
          schema:
            $ref: "#/definitions/MatriculaList"
    post:
      tags:
        - "Matrícula"
      operationId: createMatricula
      summary: "Cria matrículas"
      parameters:
        - name: matriculas
          in: body
          description: Lista de matrícula que devem ser criadas
          type: string
          required: true
          schema:
            $ref: "#/definitions/MatriculaCreateList"
      responses:
        "201":
          description: "Ok"
          schema:
            $ref: "#/definitions/MatriculaList"
        "400":
          description: bad request
  /matricula/{id}:
    get:
      tags:
        - "Matrícula"
      operationId: detailMAtricula
      summary: Buscar matrícula específica
      parameters:
        - name: id
          in: path
          description: Id da matrícula
          type: string
          required: true
      responses:
        "200":
          description: "Ok"
          schema:
            $ref: "#/definitions/Matricula"
        "404":
          description: not found
    patch:
      tags:
        - "Matrícula"
      summary: altera o status de uma matricula
      operationId: patchMatriculaStatus
      consumes:
        - application/json-patch+json
      parameters:
        - name: matriculaStatusPatch
          in: body
          description: patch de status da matrícula
          schema:
            $ref: "#/definitions/MatriculaPatchStatus"
      responses:
        "200":
          description: ok
          schema:
            $ref: "#/definitions/Matricula"
        "404":
          description: not found
  /matricula/_history:
    get:
      tags:
        - "Matrícula"
      operationId: searchMatriculaHistory
      summary: "Busca histórico de matrícula"
      parameters:
        - name: periodo
          in: query
          description: Buscar histórico de matrículas
          required: true
          type: string
        - name: aluno
          in: query
          description: id (matrícula) do aluno
          required: true
          type: string
      responses:
        "200":
          description: "Ok"
          schema:
            $ref: "#/definitions/MatriculaHistoricoList"
  /historico/aluno/{id}:
    get:
      tags:
        - "Histórico"
      operationId: detailHistoricoAcademico
      summary: "Buscar histórico acadêmico de aluno"
      parameters:
        - name: id
          in: path
          description: Id (matrícula) do aluno
          type: string
          required: true
      responses:
        "200":
          description: "Ok"
          schema:
            $ref: "#/definitions/Historico"
        "400":
          description: bad request
  /historico/aluno/{id}/disciplinas/:
    get:
      tags:
        - "Histórico"
      operationId: searchDisciplinaHistoricoAcademico
      summary: "Buscar disciplinas de histórico acadêmico de aluno"
      parameters:
        - name: id
          in: path
          description: Id (matrícula) de aluno
          type: string
          required: true
        - name: tipo
          in: query
          description: Buscar disciplina por tipo
          type: string
          required: false
          enum:
            - Obrigatoria
            - Optativa
        - name: status
          in: query
          description: Buscar disciplina por status
          type: integer
          required: false
          enum:
            - Aprovado
        - name: periodo
          in: query
          description: Buscar disciplina por período
          type: integer
          required: false
          enum:
            - Matutino
            - Vespertino
            - Noturno
      responses:
        "200":
          description: "Ok"
          schema:
            $ref: "#/definitions/DisciplinaHistoricoList"
  /historico/aluno/{id}/disciplinas/{disciplina}:
    get:
      tags:
        - "Histórico"
      operationId: detailDisciplinaHistoricoAcademico
      summary: "Buscar disciplina específica de histórico acadêmico de aluno"
      parameters:
        - name: id
          in: path
          description: Id (matricula) de aluno
          type: string
          required: true
        - name: disciplina
          in: path
          description: Id (codigo) da disciplina
          type: string
          required: true
      responses:
        "200":
          description: "Ok"
          schema:
            $ref: "#/definitions/DisciplinaHistorico"
        "400":
          description: bad request
  /historico/aluno/{id}/disciplinas/{disciplina}/$preRequisitos:
    get:
      tags:
        - "Histórico"
      operationId: verificaPreRequisitosHistoricoAcademico
      summary: "Buscar disciplinas com base nos pre requisitos de aluno"
      parameters:
        - name: id
          in: path
          description: Id (matrícula) do aluno
          type: string
          required: true
        - name: disciplina
          in: path
          description: Id (código) da disciplna
          type: string
          required: true
      responses:
        "200":
          description: "Ok"
          schema:
            $ref: "#/definitions/DisciplinaCurriculoList"
        "400":
          description: not found

###########################################################
###########################################################

definitions:
  Aluno:
    type: "object"
    properties:
      matricula:
        type: "string"
      nome:
        type: "string"
      curriculo:
        type: "string"
      ira:
        type: "number"
        format: "double"
      periodoIngresso:
        type: "object"
        properties:
          ano:
            type: "integer"
          numero:
            type: "integer"
      curso:
        $ref: "#/definitions/CursoShort"
  AlunoShort:
    type: "object"
    properties:
      matricula:
        type: "string"
      nome:
        type: "string"
  AlunoList:
    type: array
    items:
      $ref: "#/definitions/AlunoShort"
  Curso:
    type: "object"
    properties:
      codigo:
        type: "string"
      nome:
        type: "string"
      modalidade:
        type: "string"
      grauAcademico:
        type: "string"
      turno:
        type: "string"
      sede:
        type: "string"
      coordenador:
        type: "object"
        properties:
          nome:
            type: "string"
      unidades:
        type: "array"
        items:
          type: "object"
          properties:
            codigo:
              type: "string"
            nome:
              type: "string"
      curriculos:
        type: "array"
        items:
          type: "object"
          properties:
            codigo:
              type: "string"
            status:
              type: "string"
  CursoShort:
    type: "object"
    properties:
      codigo:
        type: "string"
      nome:
        type: "string"
  CursoList:
    type: array
    items:
      $ref: "#/definitions/CursoShort"
  Disciplina:
    type: "object"
    properties:
      codigo:
        type: "string"
      nome:
        type: "string"
      unidade:
        type: "object"
        properties:
          codigo:
            type: "string"
          nome:
            type: "string"
      cargaHoraria:
        type: "object"
        properties:
          teorica:
            type: "integer"
          pratica:
            type: "integer"
      preRequisitos:
        type: "array"
        items:
          type: "object"
          $ref: "#/definitions/CursoShort"
  DisciplinaShort:
    type: "object"
    properties:
      codigo:
        type: "string"
      nome:
        type: "string"
  DisciplinaList:
    type: array
    items:
      $ref: "#/definitions/DisciplinaShort"
  Turma:
    type: "object"
    properties:
      codigo:
        type: "string"
      vagasOfertadas:
        type: "integer"
      vagasOcupadas:
        type: "integer"
      disciplina:
        $ref: "#/definitions/DisciplinaShort"
      horarios:
        type: "array"
        items:
          type: "object"
          properties:
            dia:
              type: "string"
            horaInicio:
              type: "string"
            horaFim:
              type: "string"
      periodoLetivo:
        type: "object"
        properties:
          ano:
            type: "integer"
          numero:
            type: "integer"
  TurmaShort:
    type: "object"
    properties:
      codigo:
        type: "string"
      disciplina:
        $ref: "#/definitions/DisciplinaShort"
  TurmaList:
    type: array
    items:
      $ref: "#/definitions/TurmaShort"
  DisciplinaCurriculo:
    type: "object"
    properties:
      tipo:
        type: "string"
      nivel:
        type: "string"
      modalidade:
        type: "string"
  DisciplinaCurriculoList:
    type: array
    items:
      $ref: "#/definitions/DisciplinaCurriculo"
  DisciplinaHistorico:
    type: "object"
    properties:
      aprovacao:
        type: "boolean"
      mencao:
        type: "string"
      turma:
        $ref: "#/definitions/TurmaShort"
  DisciplinaHistoricoList:
    type: array
    items:
      $ref: "#/definitions/DisciplinaHistorico"
  Historico:
    type: "object"
    properties:
      aluno:
        $ref: "#/definitions/AlunoShort"
      disciplinas:
        $ref: "#/definitions/DisciplinaHistoricoList"
  Curriculo:
    type: "object"
    properties:
      codigo:
        type: "string"
      status:
        type: "string"
      disciplinas:
        $ref: "#/definitions/DisciplinaCurriculoList"
  CurriculoShort:
    type: "object"
    properties:
      codigo:
        type: "string"
  CurriculoList:
    type: array
    items:
      $ref: "#/definitions/CurriculoShort"
  Matricula:
    type: "object"
    properties:
      status:
        type: "string"
      turma:
        $ref: "#/definitions/TurmaShort"
      aluno:
        $ref: "#/definitions/AlunoShort"
  MatriculaList:
    type: array
    items:
      $ref: "#/definitions/Matricula"
  MatriculaCreateList:
    type: array
    items:
      type: object
      properties:
        aluno:
          type: string
          description: matrícula do aluno
        turma:
          type: string
          description: id da turma
        status:
          type: string
          description: status da matrícula
  MatriculaPatchStatus:
    type: array
    items:
      type: object
      properties:
        op:
          type: string
          enum:
            - replace
        path:
          type: string
          enum:
            - "/status"
        status:
          type: string
          description: novo status
  MatriculaVersion:
    description: "modelo para controle de versão de cada instância de 'Matricula'"
    type: object
    properties:
      status:
        type: string
      _updated:
        type: string
  MatriculaVersionList:
    description: "lista de versões de um instância de 'Matricula'"
    type: array
    items:
      $ref: "#/definitions/MatriculaVersion"
  MatriculaHistorico:
    description: "instância de 'Matricula' com histórico"
    type: object
    allOf:
      - $ref: "#/definitions/Matricula"
      - type: object
        properties:
          versions:
            $ref: "#/definitions/MatriculaVersionList"
  MatriculaHistoricoList:
    type: array
    items:
      $ref: "#/definitions/MatriculaHistorico"
###########################################################
###########################################################
# externalDocs:
#   description: "Aplicação Base"
#   url: "https://sig.unb.br/sigaa/"
