swagger: "2.0"
info:
  description: "Descrição."
  version: "1.0.0"
  title: "Matrícula Web 2"
  termsOfService: "http://sid.redes.unb.br/termos/"
  contact:
    email: "sid@redes.unb.br"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "sid.redes.unb.br"
basePath: "/mw2"
schemes:
  - "https"
  - "http"

###########################################################
###########################################################

tags:
  - name: "Aluno"
    description: "Descrição das rotas de aluno"
  - name: "Disciplina"
    description: "Descrição das rotas de disciplina"
  - name: "Curso"
    description: "Descrição das rotas de curso"
  - name: "Turma"
    description: "Descrição das rotas de turma"
  - name: "Matrícula"
    description: "Descrição das rotas de matrícula"
  - name: "Histórico"
    description: "Descrição das rotas de histórico"

###########################################################
###########################################################

paths:
  /aluno:
    get:
      tags:
        - "Aluno"
      parameters:
        - name: nome
          in: query
          description: Filtro por nome
          type: string
      responses:
        "200":
          description: "Ok"
  /aluno/{id}:
    get:
      tags:
        - "Aluno"
      responses:
        "200":
          description: "Ok"
      parameters:
        - name: id
          in: path
          description: Filtro por nome
          type: string
          required: true
  /disciplina:
    get:
      tags:
        - "Disciplina"
      responses:
        "200":
          description: "Ok"
  /disciplina/{id}:
    get:
      tags:
        - "Disciplina"
      responses:
        "200":
          description: "Ok"
      parameters:
        - name: id
          in: path
          description: Filtro por nome
          type: string
          required: true
  /curso:
    get:
      tags:
        - "Curso"
      responses:
        "200":
          description: "Ok"
      parameters:
        - name: nome
          in: query
          description: Filtro por nome
          type: string
  /curso/{id}:
    get:
      tags:
        - "Curso"
      responses:
        "200":
          description: "Ok"
      parameters:
        - name: id
          in: path
          description: Filtro por nome
          type: string
          required: true
  /curso/{id}/curriculos/:
    get:
      tags:
        - "Curso"
      responses:
        "200":
          description: "Ok"
      parameters:
        - name: id
          in: path
          description: Filtro por nome
          type: string
          required: true
        - name: status
          in: query
          description: Filtro por nome
          type: string
          required: false
          enum:
            - Ativo
            - Desativado
  /curso/{id}/curriculos/{curriculo}:
    get:
      tags:
        - "Curso"
      responses:
        "200":
          description: "Ok"
      parameters:
        - name: id
          in: path
          description: Filtro por nome
          type: string
          required: true
        - name: curriculo
          in: path
          description: Filtro por nome
          type: string
          required: true
  /curso/{id}/curriculos/{curriculo}/disciplinas:
    get:
      tags:
        - "Curso"
      responses:
        "200":
          description: "Ok"
      parameters:
        - name: id
          in: path
          description: Filtro por nome
          type: string
          required: true
        - name: curriculo
          in: path
          description: Filtro por nome
          type: string
          required: true
        - name: tipo
          in: query
          description: Filtro por nome
          type: string
          required: false
          enum:
            - Obrigatoria
            - Optativa
        - name: nivel
          in: query
          description: Filtro por nome
          type: integer
          required: false
        - name: modalidade
          in: query
          description: Filtro por nome
          type: string
          required: false
          enum:
            - Presencial
            - Hibrido
            - EAD
  /curso/{id}/curriculos/{curriculo}/disciplinas/{disciplina}:
    get:
      tags:
        - "Curso"
      responses:
        "200":
          description: "Ok"
      parameters:
        - name: id
          in: path
          description: Filtro por nome
          type: string
          required: true
        - name: curriculo
          in: path
          description: Filtro por nome
          type: string
          required: true
        - name: disciplina
          in: path
          description: Filtro por nome
          type: string
          required: true
        - name: tipo
          in: query
          description: Filtro por nome
          type: string
          required: false
          enum:
            - Obrigatoria
            - Optativa
        - name: nivel
          in: query
          description: Filtro por nome
          type: integer
          required: false
        - name: modalidade
          in: query
          description: Filtro por nome
          type: string
          required: false
          enum:
            - Presencial
            - Hibrido
            - EAD
  /turma:
    get:
      tags:
        - "Turma"
      responses:
        "200":
          description: "Ok"
      parameters:
        - name: disciplina
          in: query
          description: Filtro por nome
          type: string
          required: false
        - name: periodo
          in: query
          description: Filtro por nome
          type: string
          required: true
        - name: sede
          in: query
          description: Filtro por nome
          type: string
          required: false
          enum:
            - Planaltina
            - Asa Norte
            - Ceilandia
            - Gama
        - name: turno
          in: query
          description: Filtro por nome
          type: string
          required: false
          enum:
            - Matutino
            - Vespertino
            - Noturno
  /turma/{id}:
    get:
      tags:
        - "Turma"
      responses:
        "200":
          description: "Ok"
      parameters:
        - name: id
          in: path
          description: Filtro por nome
          type: string
          required: true
  /matricula:
    get:
      tags:
        - "Matrícula"
      responses:
        "200":
          description: "Ok"
      parameters:
        - name: aluno
          in: query
          description: Quando especificado a matrícula retorna apenas as informações das turmas (não são retornadas informações do aluno). Não é possível utilizar esse parâmetro junto do parâmetro turma.
          type: string
        - name: status
          in: query
          description: Filtro por status
          type: string
          enum:
            - Matriculado
            - Pedido
            - Indeferido
            - Trancamento
        - name: turma
          in: query
          description: Filtro por turma. Não é possível utilizar esse parâmetro junto com Aluno.
          type: string
    post:
      summary: "Cria matrículas"
      tags:
        - "Matrícula"
      responses:
        "200":
          description: "Ok"
      parameters:
        - name: matriculas
          in: body
          description: Quando especificado a matrícula retorna apenas as informações das turmas (não são retornadas informações do aluno). Não é possível utilizar esse parâmetro junto do parâmetro turma.
          type: string
          required: true
          schema: "#/definitions/MatriculaCreateList"
  /matricula/_history:
    get:
      tags:
        - "Matrícula"
      responses:
        "200":
          description: "Ok"
      parameters:
        - name: aluno
          in: query
          description: Quando especificado a matrícula retorna apenas as informações das turmas (não são retornadas informações do aluno). Não é possível utilizar esse parâmetro junto do parâmetro turma.
          type: string
        - name: status
          in: query
          description: Filtro por status
          type: string
          enum:
            - Matriculado
            - Pedido
            - Indeferido
            - Trancamento
        - name: turma
          in: query
          description: Filtro por turma. Não é possível utilizar esse parâmetro junto com Aluno.
          type: string
    post:
      summary: "Cria matrículas"
      tags:
        - "Matrícula"
      responses:
        "200":
          description: "Ok"
      parameters:
        - name: matriculas
          in: body
          description: Quando especificado a matrícula retorna apenas as informações das turmas (não são retornadas informações do aluno). Não é possível utilizar esse parâmetro junto do parâmetro turma.
          type: string
          required: true
          schema: "#/definitions/MatriculaCreateList"
  /matricula/{id}:
    get:
      tags:
        - "Matrícula"
      responses:
        "200":
          description: "Ok"
  /historico/aluno/{id}:
    get:
      tags:
        - "Histórico"
      responses:
        "200":
          description: "Ok"
      parameters:
        - name: id
          in: path
          description: Filtro por nome
          type: string
          required: true
  /historico/aluno/{id}/disciplinas/:
    get:
      tags:
        - "Histórico"
      responses:
        "200":
          description: "Ok"
      parameters:
        - name: id
          in: path
          description: Filtro por nome
          type: string
          required: true
        - name: tipo
          in: query
          description: Filtro por nome
          type: string
          required: false
          enum:
            - Obrigatoria
            - Optativa
        - name: status
          in: query
          description: Filtro por nome
          type: integer
          required: false
          enum:
            - Aprovado
        - name: periodo
          in: query
          description: Filtro por nome
          type: integer
          required: false
          enum:
            - Matutino
            - Vespertino
            - Noturno
  /historico/aluno/{id}/disciplinas/{disciplina}:
    get:
      tags:
        - "Histórico"
      responses:
        "200":
          description: "Ok"
      parameters:
        - name: id
          in: path
          description: Filtro por nome
          type: string
          required: true
        - name: disciplina
          in: path
          description: Filtro por nome
          type: string
          required: true
  /historico/aluno/{id}/disciplinas/{disciplina}/$preRequisitos:
    get:
      tags:
        - "Histórico"
      responses:
        "200":
          description: "Ok"
      parameters:
        - name: id
          in: path
          description: Filtro por nome
          type: string
          required: true
        - name: disciplina
          in: path
          description: Filtro por nome
          type: string
          required: true

###########################################################
###########################################################

definitions:
  Aluno:
    type: "object"
    properties:
      matricula:
        type: "string"
      nome:
        type: "string"
      curriculo:
        type: "string"
      ira:
        type: "number"
        format: "double"
      periodoIngresso:
        type: "object"
        properties:
          ano:
            type: "integer"
          numero:
            type: "integer"
      curso:
        $ref: "#/definitions/CursoShort"
  AlunoShort:
    type: "object"
    properties:
      matricula:
        type: "string"
      nome:
        type: "string"
  AlunoList:
    type: array
    items:
      $ref: "#/definitions/AlunoShort"
  Curso:
    type: "object"
    properties:
      codigo:
        type: "string"
      nome:
        type: "string"
      modalidade:
        type: "string"
      grauAcademico:
        type: "string"
      turno:
        type: "string"
      sede:
        type: "string"
      coordenador:
        type: "object"
        properties:
          nome:
            type: "string"
      unidades:
        type: "array"
        items:
          type: "object"
          properties:
            codigo:
              type: "string"
            nome:
              type: "string"
      curriculos:
        type: "array"
        items:
          type: "object"
          properties:
            codigo:
              type: "string"
            status:
              type: "string"
  CursoShort:
    type: "object"
    properties:
      codigo:
        type: "string"
      nome:
        type: "string"
  CursoList:
    type: array
    items:
      $ref: "#/definitions/CursoShort"
  Disciplina:
    type: "object"
    properties:
      codigo:
        type: "string"
      nome:
        type: "string"
      unidade:
        type: "object"
        properties:
          codigo:
            type: "string"
          nome:
            type: "string"
      cargaHoraria:
        type: "object"
        properties:
          teorica:
            type: "integer"
          pratica:
            type: "integer"
      preRequisitos:
        type: "array"
        items:
          type: "object"
          $ref: "#/definitions/CursoShort"
  DisciplinaShort:
    type: "object"
    properties:
      codigo:
        type: "string"
      nome:
        type: "string"
  DisciplinaList:
    type: array
    items:
      $ref: "#/definitions/DisciplinaShort"
  Turma:
    type: "object"
    properties:
      codigo:
        type: "string"
      vagasOfertadas:
        type: "integer"
      vagasOcupadas:
        type: "integer"
      disciplina:
        $ref: "#/definitions/DisciplinaShort"
      horarios:
        type: "array"
        items:
          type: "object"
          properties:
            dia:
              type: "string"
            horaInicio:
              type: "string"
            horaFim:
              type: "string"
      periodoLetivo:
        type: "object"
        properties:
          ano:
            type: "integer"
          numero:
            type: "integer"
  TurmaShort:
    type: "object"
    properties:
      codigo:
        type: "string"
      disciplina:
        $ref: "#/definitions/DisciplinaShort"
  TurmaList:
    type: array
    items:
      $ref: "#/definitions/TurmaShort"
  DisciplinaCurriculo:
    type: "object"
    properties:
      tipo:
        type: "string"
      nivel:
        type: "string"
      modalidade:
        type: "string"
  DisciplinaCurriculoList:
    type: array
    items:
      $ref: "#/definitions/DisciplinaCurriculo"
  DisciplinaHistorico:
    type: "object"
    properties:
      aprovacao:
        type: "boolean"
      mencao:
        type: "string"
      turma:
        $ref: "#/definitions/TurmaShort"
  DisciplinaHistoricoList:
    type: array
    items:
      $ref: "#/definitions/DisciplinaHistorico"
  Historico:
    type: "object"
    properties:
      aluno:
        $ref: "#/definitions/AlunoShort"
      disciplinas:
        $ref: "#/definitions/DisciplinaHistoricoList"
  Curriculo:
    type: "object"
    properties:
      codigo:
        type: "string"
      status:
        type: "string"
      disciplinas:
        $ref: "#/definitions/DisciplinaCurriculoList"
  CurriculoShort:
    type: "object"
    properties:
      codigo:
        type: "string"
  CurriculoList:
    type: array
    items:
      $ref: "#/definitions/CurriculoShort"
  Matricula:
    type: "object"
    properties:
      status:
        type: "string"
      turma:
        $ref: "#/definitions/TurmaShort"
      aluno:
        $ref: "#/definitions/AlunoShort"
  MatriculaList:
    type: array
    items:
      $ref: "#/definitions/Matricula"
  MatriculaCreateList:
    type: array
    items:
      type: object
      properties:
        aluno:
          type: string
          description: matrícula do aluno
        turma:
          type: string
          description: id da turma
        status:
          type: string
          description: status da matrícula
  MatriculaPatchStatus:
    type: array
    items:
      type: object
      properties:
        op:
          type: string
          enum:
            - replace
        path:
          type: string
          enum:
            - "/status"
        status:
          type: string
          description: novo status
  MatriculaVersion:
    description: "modelo para controle de versão de cada instância de 'Matricula'"
    type: object
    properties:
      status:
        type: string
      _updated:
        type: string
  MatriculaVersionList:
    description: "lista de versões de um instância de 'Matricula'"
    type: array
    items:
      $ref: "#/definitions/MatriculaVersion"
  MatriculaHistorico:
    description: "instância de 'Matricula' com histórico"
    type: object
    allOf:
      - $ref: "#/definitions/Matricula"
      - type: object
        properties:
          versions:
            $ref: "#/definitions/MatriculaVersionList"
  MatriculaHistoricoList:
    type: array
    items:
      $ref: "#/definitions/MatriculaHistorico"
###########################################################
###########################################################
# externalDocs:
#   description: "Aplicação Base"
#   url: "https://sig.unb.br/sigaa/"
